h1
{
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-size: 60px;
    color: deeppink;    
}
h5
{
    margin-block-start: 0em;
    margin-block-start: 0em;
    font-style: italic;
}
button
{
    left: 100px;
}